@font-face {
  font-family: iransans;
  src: url(IRANSansWeb.woff2);
}
:root{
  --textColor:#fff;
  --backgroundColor:#d7e0e7;
  --conatinerBackground:#3e5669;
  --btn-box:#2856b8;
  --hover:#1f2b35;
}

body {
  font-family: iransans;
  margin: 0;
  padding: 0;
  background-color: #d7e0e7;
}
h2,
h1 {
  color: var(--textColor);
}

h2 {
  font-size: 17px;
  font-weight: 400;
}
.container {
  display: grid;
  place-items: center;
  background-color: var(--conatinerBackground);
  box-shadow: 19px 13px 60px -31px rgba(0, 0, 0, 0.75);
  width: 30vw;
  height: 100vh;
  margin: 0 950px;
  position: relative;
  padding-bottom: 40px;
  border-left: 10px solid var(--btn-box);
  border-right: 10px solid var(--btn-box);
}
select {
  background-color: var(--btn-box);
  color: white;
  padding: 12px;
  width: 350px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  transition: all 500ms;
  text-transform: capitalize;
}
select:hover {
  transition: all 500ms;
  background-color: var(--hover);
}
.selection h2{
  font-size: 12px;
}
.op1 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  
}
.op1  h2{
  font-size: 15px;
}

.radio-opton h2 {
  text-align: right;
}
.radio-opton > h2 {
  font-size: 25px;
  font-weight: 800;
  padding: 8px 0;
}
.yaer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.result h2 {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 0;
}
button {
  background-color: var(--btn-box);
  color: #fff;
  cursor: pointer;
  width: 350px;
  height: 50px;
  border: none;
  transition: all 500ms ease;
}
button:hover {
  background-color: var(--hover);
  color: var(--textColor);
}
h1 {
  text-align: right;
}
.background-img {
  position: absolute;
  right: 120%;
}
.background-img img {
  width: 40vw;
  margin-right: 90px;
  margin-bottom: 190px;
}

#information{
  display: grid;
  grid-template-columns: repeat(2 ,2fr);
  place-items: center;
  overflow: hidden;
  margin-bottom: 10px;
  
}
#information p{
  color: var(--textColor);
}
.show{
  position: relative;
  overflow: hidden;
  border: 5px solid var(--btn-box);
  width: 133%;
  right: 63px;
  background-color: var(--btn-box);
  /* border-left: 10px solid var(--conatinerBackground); */
  /* border-right: 10px solid var(--conatinerBackground) */
  
}
.lode{
  display: grid;
  place-items: center;
  
}
.lode img{
  width: 120px;
  display: none;
}
